# Created by .ignore support plugin (hsz.mobi)

/node_modules/*
/node_modules/@types/*
/.idea/
*.js
*.js.map
node-debug.log
!/node_modules/@types/
!/node_modules/@types/mongorito/
!systemjs.config.js
/mongodb_config.json

.DS_Store
/npm-debug.log
