.my-content {
    min-height: 1000px;
    padding-left: 20px;
    padding-top: 20px;
}

md-sidenav {
    width: 200px;
}

.example-full-width {
    width: 100%;
}

#info {
    display: flex;
}

h1 {
    margin: 4px 0;
}

#info-contents {
    margin-left: 8px;
}