.wrapper {
    min-height: 1000px;
    padding: 20px 20px 0 20px;
}

md-sidenav {
    width: 240px;
}

md-sidenav h3 {
    background: rgba(0, 0, 0, .32);
    color: #fff;
    border: none;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 0 16px;
}

md-sidenav li {
    border-bottom: 1px solid;
    margin: 0;
    padding: 0;
    border-color: rgba(0, 0, 0, .06);
    color: rgba(0, 0, 0, .54);
}

md-sidenav li > a {
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 47px;
    text-decoration: none;
    transition: all .3s;
    padding: 0 16px;
    position: relative;
    color: rgba(0, 0, 0, .54);
}

md-sidenav li > a:hover {
    background: #fafafa;
    color: #00bcd4;
}

md-sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#info {
    display: flex;
}

h1 {
    margin: 0;
    font-size: 32px;
}

#info-contents {
    margin-left: 12px;
}

#info-contents a, #info-contents span {
    line-height: 20px;
    padding: 0 4px;
    min-width: inherit;
}

md-toolbar {
    padding-bottom: 12px;
    font-size: 14px;
}

md-toolbar /deep/ md-toolbar-row {
    height: auto;
}

#icon img {
    width: 80px;
    height: 80px;
}

#icon input {
    display: none;
}