<nav _ngcontent-ere-195="" class="docs-navbar">
    <a _ngcontent-ere-195="" aria-label="Angular Material" md-button="" routerlink="/" href="/" aria-disabled="false"
       tabindex="0"><span class="md-button-wrapper">
    <img _ngcontent-ere-195="" alt="Angular" class="docs-angular-logo"
         src="../../../assets/img/homepage/angular-white-transparent.svg">
    <span _ngcontent-ere-195="">Material</span>
  </span><!--template bindings={}-->
        <div class="md-button-ripple" md-ripple="" mdripplebackgroundcolor="rgba(0, 0, 0, 0)">
            <div class="md-ripple-background"></div>
        </div>
        <div class="md-button-focus-overlay"></div>
    </a>
    <a _ngcontent-ere-195="" md-button="" routerlink="components" href="/components" aria-disabled="false" tabindex="0"><span
            class="md-button-wrapper">Components</span><!--template bindings={}-->
        <div class="md-button-ripple" md-ripple="" mdripplebackgroundcolor="rgba(0, 0, 0, 0)">
            <div class="md-ripple-background"></div>
        </div>
        <div class="md-button-focus-overlay"></div>
    </a>
    <a _ngcontent-ere-195="" md-button="" routerlink="guides" href="/guides" aria-disabled="false" tabindex="0"><span
            class="md-button-wrapper">Guides</span><!--template bindings={}-->
        <div class="md-button-ripple" md-ripple="" mdripplebackgroundcolor="rgba(0, 0, 0, 0)">
            <div class="md-ripple-background"></div>
        </div>
        <div class="md-button-focus-overlay"></div>
    </a>
</nav>
<router-outlet></router-outlet>